/****************************************************************
*             Edit styles in ungoko-style.less, not in css      *
****************************************************************/

@import "variables.less"; // Modify this for custom colors, font-sizes, etc

@import "../../bootstrap/less/bootstrap.less";

/****************************************************************
*                     Ungoko Custom Theme LESS: ;               *
****************************************************************/

/****************************************************************
*                             General                            *
****************************************************************/

[class^="icon-"] {margin: 3px 3px 0 0; }

.btn i { margin: 3px 7px 0 0; }

.reveal { display: none; }
.hotspot:hover .reveal{ display: inline-block; }

.block h2 { font-size: 24.5px; }
/****************************************************************
*                               Menu                            *
****************************************************************/

/* Style active state on menu items */

.navbar .nav >li > a.active { background: rgb(207, 78, 18); color: white; text-decoration: none; }

/****************************************************************
*                             Footer                            *
****************************************************************/
footer.footer {
  padding-bottom: 0;
  text-align: right;


  &:before {
    content:"";
    display: block;
    float: left;
    position: relative;
    bottom: 0;
    width: 352px;
    height: 230px;
    background: url('../img/hands.png');
  }
}


/****************************************************************
*                             Views                             *
****************************************************************/

.views-row { border-bottom: 1px solid @grayLighter; padding: 15px 0;}
.views-row.views-row-first { padding-top: 0; }
.views-row.views-row-last { border-bottom: 1px solid transparent; padding-bottom: 0; }

/* Profile images on dashboard */
.page-oversigt {
  .views-field-field-profile-picture {
    float: left; }

  .views-field-field-profile-picture .field-content {
    margin-right: 10px; }

  .views-row {
    border-bottom: 1px solid @grayLighter;
    display: inline-block;
    position: relative;
    width: 100%; }
  .views-row.views-row-last,
  .views-row.views-row-last.views-row-first{ border-bottom-color: transparent;}
  .views-row.views-row-last.views-row-first{ padding: 0;}

}

.view-empty { color: @grayLight; }

.questions{
  .views-field { margin-bottom: 10px; }
  .views-field-title {font-size: @fontSizeLarge; font-weight: bold; }
  .views-field-field-name {font-size: @baseFontSize; margin: 0;}
  .views-field-created { margin-left: 8px; margin-right: 8px; }
  .views-field-created,
  .views-field-changed,
  .views-field-last-updated,
  .views-field-last-comment-timestamp,
  .views-field-comment-count { color: @grayLight; font-size: @fontSizeSmall; }
  .views-field-last-comment-name { color: @grayLight; font-size: @fontSizeSmall; font-weight: bold;}
}

.questions.dashboard{
  .views-row { padding: 15px 0; position: relative; }
  .new-mark { position: absolute; top: 1px;
    .label { padding: 31px 5px; }
  }
  .views-field-title,
  .views-field-last-updated,
  .views-field-comment-count { margin-left: 30px; }
  .views-field-comment-count { margin-bottom: 0; }
}

.role-coordinator .questions,
.role-counselor .questions.archive {
  .views-field-title,
  .views-field-field-name { margin-bottom: 10px; }
  .views-field-field-name,
  .views-field-changed { font-weight: normal; }
  .views-field-last-updated .field-content,
  .views-field-changed .field-content,
  .views-field-created .field-content,
  .views-field-comment-count .field-content { margin-right: 10px; }

  .views-field-nothing .field-content { margin: 18px 5px 0 0; }
  .views-field-field-profile-picture .field-content,
  .views-field-field-profile-picture-1 .field-content { margin-right: 10px; }
}

.role-counselor .questions.archive{
  .views-field-changed { margin-top: 40px; }
}

.users{
  .views-field-field-name,
  .views-field-field-name-1 {font-size: @fontSizeLarge; margin-bottom: 10px; }

}

.counselors{
  .views-field-field-name { font-size: @baseFontSize; margin-bottom: 0;}
}


/****************************************************************
*                           Profiles                            *
****************************************************************/

.client-profile,
.counselor-profile{
  .views-field {color: @grayLight; margin: 5px 0;}
  .field-content {color: @textColor;}

  .views-field-field-profile-picture .field-content { margin: 0 10px 0 0; }
}

.profile-card {
  border-bottom: 1px solid @grayLighter;
  padding: 10px 0;

  .views-row { min-height: 65px; }
  .views-field { color: @grayLight; margin: 0 5px 3px 0; }
  .field-content {color: @textColor;}
  .views-field-field-profile-picture { margin: 6px 0 5px 0; }
}
  .profile-card.views-row-first { padding-top: 0; }
  .profile-card.views-row-last { border-bottom: 1px solid transparent; padding-bottom: 0; }

.on-counselor-profile .profile-card{
  .views-field { margin: 0; }
  .views-field-field-name .field-content { margin: 0 0 5px 0; }
}

.users.counselors {
  .views-field-field-bank .field-content { color: @grayLight; }
}
.users.clients{
  .views-field-url { bottom: 12px; display: none; position: absolute; right: 0; 
    .btn-mini [class^="icon-"] { margin: 1px 5px 0 0; }
  }
  .profile-card:hover .views-field-url { display: inline-block };
}

.users.clients.dashboard{
  .profile-card {min-height: 103px; }
}

/****************************************************************
*                           Documents                           *
****************************************************************/
.documents,
.documents.dashboard{
  .document { padding: 10px; position: relative; word-break: break-all; }
  .views-field-title .field-content { margin: 0; }
  .views-field-created { color: @grayLight; font-size: @fontSizeSmall; 
    [class^="icon-"] {margin: 1px 1px 0 0; }    
  }
  .views-field-field-dokument-fil { margin: 3px 0; }
  .views-field-delete-node { position: absolute; right: 10px; bottom: 10px; }
  .view-footer { margin-top: 10px; }
}

/****************************************************************
*                             Forms                             *
****************************************************************/

/* Keeping input fields within bounds */
input, textarea, select, .uneditable-input {
  width: auto;
}

/* Help text under forms */
.help-block{
  font-size: 0.8em;
  font-style: italic;
}

/* Removing filter and format options for some roles */
.role-client .filter-wrapper,
.role-counselor .filter-wrapper {
  display:none;
}


/* Navbar logo and menu */
.navbar .logo{
  margin: 9px 0;
}

.navbar .menu{
  margin: 18px 0;
}

/* Front page login block */

.block-user-login {
  float: right;
  margin: 18px 0;
  a {
    margin: 0 10px;
  }
}

// General

.panel-pane {
  h2.pane-title {
    font-size: 24.5px;
  }
}
