/****************************************************************
*             Edit styles in ungoko-style.less, not in css      *
****************************************************************/

@import "variables.less"; // Modify this for custom colors, font-sizes, etc

@import "../../bootstrap/less/bootstrap.less";

/****************************************************************
*                     Ungoko Custom Theme LESS: ;               *
****************************************************************/

/****************************************************************
*                             General                            *
****************************************************************/
/* Add padding in order to keep the content below the menu */
body {
  padding-top:90px;
}

body#tinymce {
  padding-top: 0;
}

img {
  border-radius: 3px;
}

[class^="icon-"] { margin: 3px 7px 0 0; }

.reveal { display: none; }
.hotspot:hover .reveal{ display: inline-block; }

.block h2 { font-size: 24.5px; }

@media(min-width: 980px) {
  body {
    padding-top: 90px;
  }
}

.navbar-inner { background: url('/sites/default/files/beton.jpg') center 0 no-repeat; border-bottom: 0; }
/****************************************************************
*                               Menu                            *
****************************************************************/
/* Move main menu in between logo and user menu*/
.nav-collapse ul.menu.nav:not(.pull-right) { margin-left: 56px; }

/* Style active state on menu items */

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover, .navbar .nav >li > a.active { background: transparent; border-bottom: 3px solid #cf4e12; }

/* Remove text shadow on menu items */
.navbar .nav >li > a { border-bottom: 3px solid transparent; text-shadow: 0 0 0 transparent; }

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle { background: transparent; border-bottom: 3px solid #cf4e12; }

/****************************************************************
*                             Footer                            *
****************************************************************/
.footer { padding: 15px 0; }

/****************************************************************
*                             Front                             *
****************************************************************/

.front-video,
.front-signup { margin-top: 30px; }
.front-signup { font-size: @fontSizeLarge; }

.front-signup .signup-link,
.front-signup .read-more {margin-top: 30px; }
/****************************************************************
*                             Views                             *
****************************************************************/

.views-row { border-bottom: 1px solid @grayLighter; padding: 15px 0;}
.views-row.views-row-first { padding-top: 0; }
.views-row.views-row-last { border-bottom: 1px solid transparent; padding-bottom: 0; }

/* Profile images on dashboard */
.page-oversigt {
  .views-field-field-profile-picture {
    float: left; }


  .views-row {
    border-bottom: 1px solid @grayLighter;
    display: inline-block;
    position: relative;
    width: 100%; }
  .views-row.views-row-last,
  .views-row.views-row-last.views-row-first{ border-bottom-color: transparent;}
  .views-row.views-row-last.views-row-first{ padding: 0;}

}
.views-field-field-profile-picture .field-content { margin-right: 10px; }

.views-field-created,
  .views-field-changed,
  .views-field-last-updated,
  .views-field-last-comment-timestamp,
  .views-field-comment-count { color: @grayLight; font-size: @fontSizeSmall; }
.view-empty { color: @grayLight; }

.users{
  .views-field-field-name,
  .views-field-field-name-1 {font-size: @fontSizeLarge; margin-bottom: 10px; }

}

.counselors{
  .views-field-field-name { font-size: @baseFontSize; margin-bottom: 0;}
}

.dashboard .view-footer p { margin-top: 10px; }

.dashboard.questions .view-content { margin-top: 30px; }

/****************************************************************
*                           Articles                            *
****************************************************************/
.article { clear: both; }

.article .views-field-created { margin-top: 10px; }

.article .views-field-title .field-content { margin-top: 0; }

.article .views-field-field-image { display: inline-block; min-height: 67px; min-width: 119px; }

.article .views-field-field-image .field-content { margin-right: 19px; }

.front .article .views-field-body {
  max-width: 80%;
}
 .article .views-field-body {
  max-width: 87%;
}

.node-article  { 
  p  { line-height: 24px; }
  .field-name-body { padding: 2em 0; }
}
/****************************************************************
*                           Profiles                            *
****************************************************************/

.client-profile,
.counselor-profile{
  .views-field {color: @grayLight; font-size: @baseFontSize; margin: 5px 0;}
  .field-content {color: @textColor;}

  .views-field-field-profile-picture .field-content { margin: 0 10px 0 0; }
}

.profile-card {
  border-bottom: 1px solid @grayLighter;
  padding: 10px 0;
  .clearfix();

  .views-row { min-height: 65px; }
  .views-field { color: @grayLight; margin: 0 5px 3px 0; }
  .field-content {color: @textColor;}
  .views-field-field-profile-picture {
    margin: 0 0 5px 0;
  }
}
  .profile-card.views-row-first { padding-top: 0; }
  .profile-card.views-row-last { border-bottom: 1px solid transparent; padding-bottom: 0; }

.on-counselor-profile .profile-card{
  .views-field { margin: 0; }
  .views-field-field-name .field-content { margin: 0 0 5px 0; }
}

.users.counselors {
  .views-field-field-bank .field-content { color: @grayLight; }
}
.users.clients{
  .views-field-url { bottom: 12px; display: none; position: absolute; right: 0;
    .btn-mini [class^="icon-"] { margin: 1px 5px 0 0; }
  }
  .profile-card:hover .views-field-url { display: inline-block };
}

.users.clients.dashboard{
  .profile-card {min-height: 103px; }
}

/* Hide the view tab on the counselor's edit profile page */

.page-profile-counselor-edit .nav-tabs li:first-child { display: none; }

/* Client profile page */

.role-client .client-profile .edit-client { border: 1px solid @grayLighter; padding: 8px; overflow: hidden; }
.role-client .client-profile .edit-client .views-label { color: @textColor; display: inline-block; padding: 4px 0 0; }
.role-client .client-profile .edit-client a { min-width: 120px; }

/****************************************************************
*                           Documents                           *
****************************************************************/
.documents,
.documents.dashboard{
  .document { padding: 10px; position: relative; word-break: break-all; }
  .document .views-field-created [class^="icon-"] {margin: 1px 0 0; }
  .views-field-title .field-content { margin: 0; }
  .views-field-created { color: @grayLight; font-size: @fontSizeSmall;
  }
  .views-field-field-dokument-fil { margin: 3px 0; }
  .views-field-delete-node { position: absolute; right: 10px; bottom: 10px; }
  .views-field-delete-node [class^="icon-"] {margin: 1px 0 0; }
  .view-footer { margin-top: 10px; }
}

.sidebar-second .document .views-field-created [class^="icon-"] {margin: 1px 0 0; }

/****************************************************************
*                            Question                           *
****************************************************************/
.questions{
  .views-field { margin-bottom: 10px; }
  .views-field-title {font-size: @fontSizeLarge; font-weight: bold; }
  .views-field-field-name {font-size: @baseFontSize; margin: 0;}
  .views-field-created { margin-left: 8px; margin-right: 8px; }
  .views-field-created,
  .views-field-changed,
  .views-field-last-updated,
  .views-field-last-comment-timestamp,
  .views-field-comment-count { color: @grayLight; font-size: @fontSizeSmall; }
  .views-field-last-comment-name { color: @grayLight; font-size: @fontSizeSmall; font-weight: bold;}
}

.questions.dashboard{
  .views-row { padding: 15px 0; position: relative; }
  .new-mark { position: absolute; top: 19px;
    .label { padding: 31px 5px; }
    .label.disable { color: @grayLighter; }
  }
  .views-row-first.views-row-last .new-mark { top: 3px; }
  .views-field-last-updated,
  .views-field-comment-count { margin-left: 30px; }
  .views-field-comment-count { margin-bottom: 0; }
}

.role-coordinator .questions,
.role-counselor .questions.archive {
  .views-field-title,
  .views-field-field-name { margin-bottom: 10px; }
  .views-field-field-name,
  .views-field-changed { font-weight: normal; }
  .views-field-last-updated .field-content,
  .views-field-changed .field-content,
  .views-field-created .field-content,
  .views-field-comment-count .field-content { margin-right: 10px; }

  .views-field-nothing .field-content { margin: 18px 5px 0 0; }
  .views-field-field-profile-picture .field-content,
  .views-field-field-profile-picture-1 .field-content { margin-right: 10px; }
}

.role-counselor .questions.archive{
  .views-field-changed { margin-top: 40px; }
}

.questions.dashboard.client .views-field-title { margin-left: 30px; }

/****************************************************************
*                          Node Question                        *
****************************************************************/
.node-question {
  .submitted { border-bottom: 1px solid @grayLighter; border-top: 1px solid @grayLighter; font-style: normal; overflow: hidden; padding: 1em 0;
    [class^='icon-'] { margin: 3px 1px 0 0; }
  }

  .question-post-date {
    color: @grayLight;
    margin-bottom: 0.4em;
    display: block;
    text-align: right;
  }
}

.node-question .question-status { margin-right: 10px; }
.node-question .question-status-value { color: @textColor; }
.node-question .question-status-action form,
.node-question .question-status-reopen form { display: inline-block; margin: 0; }
.role-counselor .node-question .question-post-date { margin-top: 5px; }


/****************************************************************
*                        Question Comment                       *
****************************************************************/
.node-question .comment{
  border-bottom: 1px solid @grayLighter; padding: 15px 0 0;
  .submitted { border-width: 0; margin: 0; padding: 0; text-align: left; }

}
.node-question .comment:last-child { border-width: 0; }
.node-question .comment header span { color: @grayLight; margin-left: 5px; vertical-align: top; }

.node-question .comment .field-name-field-profile-picture{ display: inline-block; }

.node-question .comment{
  padding: 10px;
  margin-bottom: 15px;
  h3 { margin: 10px 0 0; }

  img {
    width: 32px;
  }
}

.node-question .comment .field-name-comment-body { margin-top: 15px; }

/****************************************************************
*                             Forms                             *
****************************************************************/

/* Keeping input fields within bounds */
input, textarea, select, .uneditable-input {
  width: auto;
}

/* Help text under forms */
.help-block{
  font-size: 0.8em;
  font-style: italic;
}

/* Align submit buttons to the left edge */
.form-actions { padding-left: 0; }

/* Remove bottom space on the block sistem help */
#block-system-help p { margin-bottom: 0; }

/* Removing filter and format options for some roles */
.role-client .filter-wrapper,
.role-counselor .filter-wrapper {
  display:none;
}


/* User registration form */
#user-register-form {
  width: 57%;
}

#edit-profile-client-field-postnummer-und-0-value {
  width: 100%;
}
/* Navbar logo and menu */
.navbar .logo{
  margin: 20px 0;
}

.navbar .menu{
  margin: 18px 0;
}

/* Front page login block */

.block-user-login {
  float: right;
  margin: 18px 0;
  a {
    margin: 0 10px;
  }
}

// General

.panel-pane {
  h2.pane-title {
    font-size: 24.5px;
  }
}

.views-field-created,
.views-field-last-updated {
  color: #999;
  font-size: 11px;
}

/* Fixing navigation bar dissapearance when responsive*/
@media (max-width: 979px) {

  .nav-collapse, .nav-collapse.collapse {
    overflow: visible;
  }
  .nav-collapse {
    clear: none;
  }
  .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
    font-weight: 100;
  }
  .nav-collapse .nav>li>a {
    margin-bottom: 0;
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0;
  }
  .navbar .nav-collapse .nav.pull-right {
    float: right;
  }
  .btn {
    padding: 4px 10px;
  }

  .nav-collapse .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
  .nav-collapse .dropdown-menu a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #ED6D31;
    white-space: nowrap;
  }
}

@media (max-width: 767px) {
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
