/****************************************************************
*             Edit styles in ungoko-style.less, not in css      *
****************************************************************/

@import "variables.less"; // Modify this for custom colors, font-sizes, etc

@import "../../bootstrap/less/bootstrap.less";

/****************************************************************
*                     Ungoko Custom Theme LESS: ;               *
****************************************************************/

/****************************************************************
*                             General                            *
****************************************************************/


/****************************************************************
*                               Menu                            *
****************************************************************/

/* Style active state on menu items */

.navbar .nav >li > a.active { background: rgb(207, 78, 18); color: white; text-decoration: none; }

/****************************************************************
*                             Footer                            *
****************************************************************/
footer.footer {
  padding-bottom: 0;
  text-align: right;


  &:before {
    content:"";
    display: block;
    float: left;
    position: relative;
    bottom: 0;
    width: 352px;
    height: 230px;
    background: url('../img/hands.png');
  }
}


/****************************************************************
*                             Views                             *
****************************************************************/
/* Profile images on dashboard */
.page-oversigt {
  .views-field-field-profile-picture {
    float: left; }

  .views-field-field-profile-picture .field-content {
    margin-right: 10px; }

  .views-row {
    border-bottom: 1px solid #e3e3e3;
    display: inline-block;
    padding: 0 0 10px;
    margin-bottom: 20px;
    width: 100%; }

  .pending-clients .views-row {
    width: 89%;
  }
}


/****************************************************************
*                             Forms                             *
****************************************************************/

/* Keeping input fields within bounds */
input, textarea, select, .uneditable-input {
  width: auto;
}

/* Help text under forms */
.help-block{
  font-size: 0.8em;
  font-style: italic;
}

/* Removing filter and format options for some roles */
.role-client .filter-wrapper,
.role-counselor .filter-wrapper {
  display:none;
}


/* Front page login form */

#block-user-login form {
  float: right;
  margin: 0;
  padding-top: 10px;
  width: 435px;

  .control-group,
  .control-group input[type="text"],
  .control-group input[type="password"],
  .form-submit {
    display: inline-block;
    margin: 0;
  }

  label {
    display: none;
  }

  ul {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 0;

    a {
      color: @white;
    }
  }
}

// General

.panel-pane {
  h2.pane-title {
    font-size: 24.5px;
  }
}

.views-field-created,
.views-field-last-updated {
  color: #999;
  font-size: 11px;
}
